<a href="{{ path }}" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init aria-current="true">
  <i class="fas fa-tachometer-alt fa-fw me-3"></i>

  <span>
    {{ name }}
  </span>
</a>